body{
	background-color:#000000;
	background-attachment:fixed;
}

.settingsArea{
	position:absolute;
	top:150px;
	left:450px;
	width:500px;
	height:450px;
	background-color:#666666;
	opacity:0.5;
	border-top-right-radius:5px;
	border-top-left-radius:5px;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
}

#accSettingsLbl {
	position:absolute;
	top:10px;
	left:15px;
}